<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Profile</h4>
        <h6 class="card-subtitle">Personal information</h6>
        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="exampleInputuname">Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter email"
                [readOnly]="user.google"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="profileForm.invalid || !validateChanges()"
          >
            <i class="fa fa-save"></i>
            Save changes
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">User's image</h6>

        <img
          [src]="imgPreview ? imgPreview : user.imgUrl"
          alt="user"
          class="img-circle img-responsive image-avatar"
        />
        <br />
        <br />
        <div class="row">
          <div class="col-12 col-md-6">
            <input
              type="file"
              class="form-control-file"
              (change)="onFileChange($event)"
              accept=".jpg, .jpeg, .png"
            />
          </div>
          <div class="col-12 col-md-6">
            <button
              class="btn btn-success"
              for="customFile"
              (click)="onUpload()"
              [disabled]="!imgUpload"
            >
              Change image
            </button>
          </div>
        </div>
        <div class="alert alert-danger m-t-10" *ngIf="!imgUpload">
          <strong>File not selected</strong>
        </div>
        <div
          class="alert alert-success m-t-10"
          *ngIf="imgUpload && imgUpload.name && imgUpload.size"
        >
          <strong>File uploaded: {{ imgUpload.name }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
